## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpireByType image/jpg "access plus 1 month"
ExpireByType image/jpeg "access plus 1 month"
ExpireByType image/png "access plus 1 month"
ExpireByType text/css "access plus 1 month"
ExpireByType text/html "access plus 1 month"
ExpireByType text/javascript "access plus 1 month"
ExpiresDefault "access plus 1 month"
</IfModule>
## EXPIRES CASHING ##