## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpireByType image/jpg "access plus 1 min"
ExpireByType image/jpeg "access plus 1 min"
ExpireByType image/png "access plus 1 min"
ExpireByType text/css "access plus 1 min"
ExpireByType text/html "access plus 1 min"
ExpireByType text/javascript "access plus 1 min"
ExpiresDefault "access plus 1 min"
</IfModule>
## EXPIRES CASHING ##