## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpireByType image/jpg "access plus 1 day"
ExpireByType image/jpeg "access plus 1 day"
ExpireByType image/png "access plus 1 day"
ExpireByType text/css "access plus 1 day"
ExpireByType text/html "access plus 1 day"
ExpireByType text/javascript "access access plus 1 day"
ExpiresDefault "access plus 1 day"
</IfModule>
## EXPIRES CASHING ##